body {
  background-color:#ccc;
}

body main{
  width:100%;
  height:50vh;
  background-color:#eee;
  margin:0 auto;
}

body main section {
  margin: 0 auto;

}

body main section h2 {
  width:200px;
  margin: 0 auto;
}

.inputs {
  margin:0 auto;
  width:100%;
}

.dice-output {
  width:100%;
  margin:0 auto;
  display:flex;
  justify-content: center;
}


.die{
  background-color:#bada55;
  height:100px;
  width:100px;
  float:left;
  margin: 5px;
  border-radius:5px;
}

.die h3 {
  font-size:2em;
  height:100%;
  width:100%;
  display:flex;
  justify-content: center;

}
