body {
  background-color:#ccc;
}

body main{
  height:50vh;
  background-color:#eee;
  margin:20px;
  border-radius: 15px;
  padding: 50px;
}

body main section {
  margin: 0 auto;

}

body main section h2 {
  text-align:center;
  font-family:sans-serif;
  font-size:2em;
  margin:10px;
  color: #666;
}


.dice-output {
  width:100%;
  margin:0 auto;
  display:flex;
  justify-content: center;
}


.die{
  background-color:#bada55;
  height:100px;
  width:100px;
  float:left;
  margin: 5px;
  border-radius:5px;
  position:relative;
}

.die h3 {
  font-size:2em;
  height:100%;
  width:100%;
  display:flex;
  justify-content: center;

}
